@import "tailwindcss";

@layer utilities {
  :root {
    --background: 231 13% 10%; /* #16171D */
    --foreground: 0 0% 255%; /* #FFFFFF */
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    font-family: Roboto, Helvetica, sans-serif;
  }
}
